
body {

	max-width: 55%;
    font: normal 100%/1.6 Verdana,sans-serif;
    color: #603472;
    background: rgb(235, 218, 255);
    margin: 0 auto;
}
div {
	border: 2px Solid Black;
}

#body {
    margin-top: 2%;
    margin-bottom: 2%;
    height: 960px;
    
}

#block1 {
    margin: 4% 12% 4% 12%;
    height: 60px;
    text-align: center;
    padding-top: 2%;
    font-size: 24px;  
}

#block2 {
    margin: 4% 8% 2% 8%;
    height: 25px;
    
    
}

#mus1 {
    margin: 4% 8% 2% 4%;
    border: 1px Solid Transparent;

}

#vid1 {
    margin: 4% 8% 2% 8%;
    border: 1px Solid Transparent;

}
#butt1 {
    display: inline-block;
    width: 15%;
    height: 35px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 12%;
    text-align: center;
    padding-top: 0.5%;
    background-color: rgb(222, 158, 241);
    
}

#butt1 a {
    font-size: 16px;
    font-style: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
}


#img1 {
    margin: 1% 8% 2% 8%;
    border: 1px Solid Transparent;
}

#butt2 {
    width: 50%;
    height: 25px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 12%;
    text-align: center;
    padding-top: 0.5%;
    background-color: rgb(222, 158, 241);
}

#butt2 a {
    font-size: 16px;
    font-style: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#but {
    width: 35%;
    display: inline-block;
    margin-top: 15%;
    margin-left: 55%;
}

#footer {
    margin: 4% 8% 2% 8%;
    height: 45px;
    text-align: center;
    padding-top: 2%;
}

